[*.cs]

# RCS1032: Remove redundant parentheses.
dotnet_diagnostic.RCS1032.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# RCS1246: Use element access.
dotnet_diagnostic.RCS1246.severity = none
